<div class="card full-height-card">
  <!-- BUY button -->
  <div class="table-actions">
    <button class="btn btn-primary" (click)="buy.emit()">Buy</button>
  </div>

  <!-- TAB BUTTONS -->
  <div class="tab-buttons">
    <button
      class="btn btn-primary"
      [class.active]="activeTab === 'portfolio'"
      (click)="activeTab = 'portfolio'"
    >
      Holdings
    </button>
    <button
      class="btn btn-primary"
      [class.active]="activeTab === 'orders'"
      (click)="activeTab = 'orders'"
    >
      Recent Orders
    </button>
  </div>

  <!-- TABLE HEADER + BODY -->
  <div class="table-wrapper">
    <!-- PORTFOLIO VIEW -->
    <ng-container *ngIf="activeTab === 'portfolio'">
      <div class="table-header">
        <table class="table">
          <thead>
            <tr>
              <th>Ticker</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>PnL (%)</th>
              <th>PnL ($)</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-body portfolio-body">
        <table class="table">
          <tbody>
            <tr *ngFor="let a of assets">
              <td>{{ a.ticker }}</td>
              <td>{{ a.asset_type | titlecase }}</td>
              <td>{{ a.quantity }}</td>
              <td
                class="pnl-cell"
                [ngClass]="{
                  buy: a.pnl_percentage > 0,
                  sell: a.pnl_percentage < 0
                }"
              >
                {{ a.pnl_percentage + "%" }}
              </td>
              <td
                class="pnl-cell"
                [ngClass]="{ buy: a.pnl > 0, sell: a.pnl < 0 }"
              >
                {{ a.pnl | number : "1.2-2" }}$
              </td>
              <td>
                <button
                  class="btn btn-primary"
                  (click)="openSellModal(a.ticker)"
                >
                  Sell
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <!-- ORDERS VIEW -->
    <ng-container *ngIf="activeTab === 'orders'">
      <div class="table-header">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Ticker</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Total price</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-body">
        <table class="table">
          <tbody>
            <tr *ngFor="let o of orders">
              <td>{{ o.date }}</td>
              <td>{{ o.ticker }}</td>
              <td
                [ngClass]="{ buy: o.type === 'BUY', sell: o.type === 'SELL' }"
              >
                {{ o.type }}
              </td>
              <td>{{ o.quantity }}</td>
              <td>
                {{
                  (o.type === "SELL" ? "+" : "-") +
                    (o.price * o.quantity | number : "1.2-2")
                }}$
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>

  <!-- SELL MODAL -->
  <app-sell-modal
    [visible]="modalVisible"
    [ticker]="selectedTicker"
    (close)="closeModal()"
  ></app-sell-modal>
</div>
