.charts-container {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: stretch;
  height: 100%;
  width: 100%;
  min-height: 0;
  justify-content: space-evenly;
}

.dashboard-chart {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  min-width: 0;
  flex: 1 1 0;
  box-shadow: var(--shadow);
  padding-bottom: 12px;
}

.dashboard-chart__header {
  background-color: var(--primary-light);
  padding: 10px 16px 8px 16px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.dashboard-chart__body {
  padding: 16px 0 0 0;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-chart {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-repeat: no-repeat;
  max-width: 100%;
}

.legend {
  list-style: none;
  padding: 5px;
  margin: 1rem 0 0;
}
.legend__item {
  display: flex;
  align-items: center;
  font-size: 0.93rem;
  margin-bottom: 0.5rem;
}
.legend__color {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 2px;
}
