<div class="dashboard-wrapper">
  <div class="dashboard-left">
    <div class="balance-wrapper">
      <app-balance (deposit)="openDeposit()"></app-balance>
    </div>
    <div class="charts-wrapper">
      <app-assets-charts></app-assets-charts>
    </div>
  </div>
  <div class="dashboard-right">
    <div class="table-section">
      <app-portfolio-table (buy)="openBuy()"></app-portfolio-table>
    </div>
    <app-deposit-modal></app-deposit-modal>
    <app-buy-modal></app-buy-modal>
  </div>
</div>
<app-chatbot></app-chatbot>
