<div class="dashboard-wrapper">
  <!-- LEFT COLUMN -->
  <div class="dashboard-left">
    <div class="balance-wrapper">
      <app-balance></app-balance>
    </div>
    <div class="charts-wrapper">
      <app-assets-charts></app-assets-charts>
    </div>
  </div>
  <!-- RIGHT COLUMN -->
  <div class="dashboard-right">
    <div class="table-header">
      <div class="buy-btn-center">
        <button class="btn btn-primary" (click)="openDeposit()">Deposit</button>
        <button class="btn btn-primary" (click)="openBuy()">Buy</button>
      </div>
    </div>
    <div class="table-section">
      <app-portfolio-table></app-portfolio-table>
    </div>
    <!-- Modals -->
    <app-deposit-modal (deposited)="handleDeposit($event)"></app-deposit-modal>
    <app-buy-modal (purchased)="handlePurchase($event)"></app-buy-modal>
  </div>
</div>
<app-chatbot></app-chatbot>
