<!-- CHARTS OF ASSETS ALLOCATION -->
<div *ngIf="allocation.length">
  <h3>Allocation by Asset Type</h3>
  <div class="pie-chart" [style.background]="pieGradient"></div>
  <ul class="legend">
    <li *ngFor="let a of allocation; let i = index">
      <span
        class="color-box"
        [style.background]="colors[i % colors.length]"
      ></span>
      {{ a.asset_type }} ({{ a.percent }}%)
    </li>
  </ul>
</div>

<!-- BUY NEW ASSET -->
<button class="buy-main-btn" (click)="openBuyModal()">BUY</button>
<div class="modal-backdrop" *ngIf="showBuyModal">
  <div class="modal">
    <h2>Buy New Asset</h2>
    <form (ngSubmit)="buyAsset()" #buyForm="ngForm">
      <div>
        <label for="ticker">Ticker</label>
        <input
          id="ticker"
          name="ticker"
          type="text"
          required
          [(ngModel)]="newAsset.ticker"
        />
      </div>
      <div>
        <label for="assetType">Type</label>
        <input
          id="assetType"
          name="asset_type"
          type="text"
          required
          [(ngModel)]="newAsset.asset_type"
        />
      </div>
      <div>
        <label for="quantity">Quantity</label>
        <input
          id="quantity"
          name="quantity"
          type="number"
          required
          [(ngModel)]="newAsset.quantity"
        />
      </div>

      <div class="modal-buttons">
        <button type="submit" [disabled]="buyForm.invalid">Confirm Buy</button>
        <button type="button" (click)="closeBuyModal()">Cancel</button>
      </div>
    </form>

    <h3>Available Stocks</h3>
    <ul class="available-list">
      <li *ngFor="let stock of availableStocks">
        <button type="button" (click)="selectTicker(stock.ticker)">
          {{ stock.ticker }} —
          {{ stock.shortName || "N/A" }}
        </button>
        <div class="stock-info">
          <p>Price: {{ stock.marketPrice | number : "1.2-2" }}</p>
          <p>
            Change vs. Prev Close:
            {{ stock.pctChange != null ? stock.pctChange + "%" : "N/A" }}
          </p>
          <p>Sector: {{ stock.sector || "N/A" }}</p>
          <p>Industry: {{ stock.industry || "N/A" }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
